div(id='main', role='main')
  div#game
  div#mypanel
script(src='/javascripts/js/draft.js?v=002')
script(src='/javascripts/js/layout.js?v=002')
script(src='/javascripts/js/events.js?v=002')
script(src='/javascripts/js/app.js?v=002')