div(id='main', role='main')
  div#game
  div#mypanel
script(src='/javascripts/draft.js?v=003')
script(src='/javascripts/layout.js?v=003')
script(src='/javascripts/events.js?v=003')
script(src='/javascripts/app.js?v=003')