!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='http://apps.rflab.co.za/draft/css/style.css')
    script(src='/javascripts/libs/jquery-1.7.1.min.js')
    script(src='/javascripts/libs/jquery-ui-1.8.17.custom.min.js')
    script(src='/socket.io/socket.io.js')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33520788-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body!= body