!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='http://apps.rflab.co.za/draft/css/style.css')
    script(src='/javascripts/js/libs/jquery-1.7.1.min.js')
    script(src='/javascripts/js/libs/jquery-ui-1.8.17.custom.min.js')
    script(src='/socket.io/socket.io.js')
  body!= body